body {
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

}

.contanier {
    height: 400px;
    width: 450px;
    background: red;
    margin: 10px;

}

.title {
    margin-left: 150px;
}

.para {
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    margin-top: 600px;
    /* margin-right: 800px; */
}

.edit {
    margin-left: 150px;
    margin: 130px;
}