@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
    color: rgb(252, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

}

.contanier {
    height: 400px;
    width: 450px;
    background: rgb(78, 74, 74);
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}

.title {
    margin-left: 150px;
    /* font-family: 'Pacifico', cursive; */

}

.para {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: larger;
    margin-left: 20px;
}

.btn {

    color: rgb(8, 8, 8);
    font-size: 1.1rem;
    margin-top: 600px;
    background: rgb(254, 253, 253);
    margin-left: 200px;
    font-family: 'Pacifico', cursive;
}

.btn:hover {
    color: rgb(254, 253, 253);
    background-color: black;
}

.edit {
    width: 70px;
    margin-left: 150px;
    margin: 130px;
    font-family: 'Pacifico', cursive;
}

.edit:hover {
    color: rgb(254, 253, 253);
    background-color: black;

}

.delete {
    font-family: 'Pacifico', cursive;
    width: 70px;

}

.delete:hover {
    color: rgb(254, 253, 253);
    background-color: black;

}